# Environment
NODE_ENV=development

# Server
PORT=3000

# Database
DB_HOST=database-dev.cb8c62yiaxt1.us-east-2.rds.amazonaws.com
DB_PORT=3306
DB_USERNAME=admin
DB_PASSWORD=1003203766Mm.
DB_NAME=database_dev

# JWT
JWT_SECRET=tafsastfdasdtyweqvncq7cq6ctewncsdc765evw6282
JWT_EXPIRES_IN=24h

# Frontend
FRONTEND_URL=http://localhost:3000

